header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282f44;
  z-index: 999;
  position: relative;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo span {
  color: #f2f6f7;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.9em;
}
.logo span:hover {
  color: #4a90e2;
}

.logo a img {
  height: 100px;
  margin-right: 10px;
  transition: 0.6s ease;
  position: relative;
}
.nav-links {
  display: flex;
  list-style: none;
  font-weight: 800;
}
.nav-links span {
  color: #d34c31;
}

.nav-links li {
  margin: 0 15px;
  color: #f2f6f7;
  font-size: 2em;
}

.nav-links a {
  text-decoration: none;
  color: #f2f6f7;
  font-size: 16px;
  transition: 0.3s ease;
}
.nav-links a:hover {
  color: #4a90e2;
}

.nav-links a.active {
  color: #4a90e2;
  font-size: 0.7em;
}




.nav-links.active {
  display: block; 
}
.nav-icons {
  display: flex;
  align-items: center;
  font-size: 1.3em;
}

.nav-icons .nav-icon {
  margin-left: 5px;
  color: #f2f6f7;
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-icons .nav-icon a span {
  color: #4a90e2;
  margin: 0;
}
.nav-icons .nav-icon:hover {
  color: #4a90e2;
}
